<div class="navbar c-secondary b-third">
	<div class="container">
		<div class="navbar__menubtn">
			<div class="navbar__btn">
				<span class="navbar__btn_ c-secondary"></span>
			</div>		
		</div>	
		<h1 class="navbar__title">GRECRABS</h1>
		<div class="navbar__menu">			
			<a href="" class="navbar__item c-primary">главная</a>
			<a href="" class="navbar__item c-primary">каталог</a>
			<a href="" class="navbar__item c-primary">корзина</a>
		</div>
	</div>
</div>

<div class="animation">
	
</div>