<div class="navbar c-secondary">
	<div class="navbar__wrapper">
		<div class="navbar__menu_btn">
			<div class="navbar__btn">
				<span></span>
			</div>		
		</div>	
		<h1 class="navbar__title">GRECRABS</h1>
		<div class="navbar__menu">
			<a href="" class="navbar__menu_item">главная</a>
			<a href="" class="navbar__menu_item">каталог</a>
			<a href="" class="navbar__menu_item">корзина</a>
		</div>
	</div>
</div>
