/* THEMES */

.c-primary {
  color: rgb(0, 0, 0);
}

.c-accent {
  color: #fff;
}

.c-secondary {
  color: #FF6666;
}

.c-secondary-d1 {
  color: rgb(224, 62, 62);
}

.b-primary {
  background-color: #E5E5E5;
}

.b-accent {
  background: #FF6666
}

.b-secondary {
  background-color: #FF4545;
}

/* LAYOUT */

body {
	margin: 0;
	padding: 0;	
	box-sizing: border-box;
}