<div class="homepage">
    <img class="homepage__background" src="../../../public/resources/bg.png" alt="background">
    <div class="homepage__titles b-secondary">
        <h1 class="homepage__title">лучший онлайн магазин</h1>
        <h1 class="homepage__subtitle">Которым управляют крабы</h1>
    </div>
</div>