 <img class="homepage__background" src="../../../public/resources/bg.png" alt="background">
    <div class="homepage__titles b-secondary">
        <p class="homepage__title c-accent">лучший онлайн магазин</p>
        <p class="homepage__subtitle c-accent">Которым управляют крабы</p>
    </div>
    <div class="homepage__products wrapper">
        <p class="homepage__products_title">
            товары и самый самый сок
        </p>
        
        <div class="homepage__products_cards">
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
        </div> 
    </div>

    