<h1>
  BODY
  <div component="counter">
    <p component-child-id="title">Счетчик 0</p>
    <button component-child-id="button">increment</button>
  </div>

  <div component="cart">
    <p>Cart Component</p>
  </div>
</h1>