 <img class="homepage__background" src="../../../public/resources/bg.png" alt="background">
    <div class="homepage__titles b-secondary">
        <p class="homepage__title c-accent">лучший онлайн магазин</p>
        <p class="homepage__subtitle c-accent">Которым управляют крабы</p>
    </div>
    <div class="container">
        <p class="homepage__products_title">
            товары года и самый сок
        </p>
        <div class="homepage__products_cards container">
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
        </div>

    </div>
    <div component="map" сlass="container">
        <div component-child-id="ymaps-container" style="width: 100%; height: 400px; margin: 0 auto; border: 1px solid black;" ></div>
        <p component-child-id="title">Счетчик 0</p>
        <div class="shop-buttons" component-child-id="buttons-container">
        </div>
    </div>
    <div class="homepage__contacts">
        <p class="homepage__contacts_title" component-child-id="title">Наши адреса</p>
    </div>
 