 <img class="homepage__background" src="../../../public/resources/bg.png" alt="background">
    <div class="homepage__titles b-secondary">
        <h1 class="homepage__title">лучший онлайн магазин</h1>
        <h1 class="homepage__subtitle">Которым управляют крабы</h1>
    </div>
    <div class="homepage__products wrapper">
        <h1 class="homepage__products_title">
            товары и самый самый сок
        </h1>
        
        <div class="homepage__products_cards">
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
            <%- include("../../components/card/card.ejs") %>
        </div> 
    </div>

    