/* THEMES */

.c-primary {
  color: #000;
}

.c-accent {
  color: #fff;
}

.c-secondary {
  color: #FF4545;
}

.c-secondary-d1 {
  color: rgb(224, 62, 62);
}

.b-primary {

}

.b-accent {

}

.b-secondary {

}

/* LAYOUT */

.container {
  
}