<div class="card">
	<img src="../../../public/resources/card.png" alt="card" class="card__picture">
	<div class="card__wrapper">
		<h1 class="card__title">Краб-крабов</h1>
		<h1 class="card__subtitle">это супер-пупер краб поможет вам и вашим друзьям!</h1>
		<div class="card__parameters">
			<p class="card__parameters_presence">в наличии:</p>			
			<p class="card__parameters_cost">19000 Р</p>
		</div>	
		<button class="card__btn">купить</button>
	</div>
</div>