<div class="card">
	<img src="../../../public/resources/card.png" alt="card" class="card__picture">	
	<p class="card__title">Краб-крабов</p>
	<p class="card__subtitle">это супер-пупер краб поможет вам и вашим друзьям!</p>
	<div class="card__parameters">
		<p class="card__parameters_presence c-primary-l1">в наличии:</p>			
		<p class="card__parameters_cost">19000 &#8381</p>
	</div>	
	<div class="card__parameters">
		<p class="card__parameters_presence c-primary-l1"></p>	
		<button class="card__btn c-accent b-secondary">купить</button>
	</div>
</div>
