<div class="map__view">
	<div id="YMapsID"></div>
</div>

<script type="text/javascript">
	ymaps.ready(function () {
	  var myMap = new ymaps.Map("YMapsID", {
		center: [55.76, 37.64],
		zoom: 10
	  });
	});
  </script>